<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>HelloSend03.html</title>
<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

<div>
	<h1>최초 요청 페이지</h1>
	<h2>HelloSend03.html </h2>
	<hr>
</div>

<div>

	<!-- 서블릿주소 요청 -->
	<form action="recevie" method="post">
	First Name
	<input type="text" name="firstName"/><br>
	Last Name 
	<input type="text" name="lastName"/><br>
	<br>
	
	<button type="submit" class="btn\">submit</button>
	</form>
</div>


</body>
</html>